In [32]:
import pandas as pd
import numpy as np

In [33]:

df = pd.read_csv("C:/Users/HP/OneDrive/Documents/1 Practical/climate_change_indicators.csv")

In [34]:
df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243

In [35]:
print(df.columns)

Index(['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source',
       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'F1961', 'F1962',
       'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 'F1970',
       'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978',
       'F1979', 'F1980', 'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986',
       'F1987', 'F1988', 'F1989', 'F1990', 'F1991', 'F1992', 'F1993', 'F1994',
       'F1995', 'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002',
       'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010',
       'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018',
       'F2019', 'F2020', 'F2021', 'F2022'],
      dtype='object')

In [36]:
df.columns = df.columns.str.strip()

In [37]:
df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243

In [38]:
print(df.shape)

(225, 72)

In [39]:
to_drop = ['F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 'F1970',
           'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978', 'F1979', 'F1980',
           'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986', 'F1987', 'F1988', 'F1989', 'F1990',
           'F1991', 'F1992', 'F1993', 'F1994', 'F1995', 'F1996', 'F1997', 'F1998', 'F1999', 'F2000',
           'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010',
           'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020',
           'F2021', 'F2022']

# Check if each column exists before attempting to drop it
to_drop_existing = [col for col in to_drop if col in df.columns]

# Drop existing columns
df.drop(to_drop_existing, inplace=True, axis=1)
print(df.head())

   ObjectId                       Country ISO2 ISO3  \
0         1  Afghanistan, Islamic Rep. of   AF  AFG
1         2                       Albania   AL  ALB
2         3                       Algeria   DZ  DZA
3         4                American Samoa   AS  ASM
4         5      Andorra, Principality of   AD  AND

                                           Indicator            Unit  \
0  Temperature change with respect to a baseline ...  Degree Celsius
1  Temperature change with respect to a baseline ...  Degree Celsius
2  Temperature change with respect to a baseline ...  Degree Celsius
3  Temperature change with respect to a baseline ...  Degree Celsius
4  Temperature change with respect to a baseline ...  Degree Celsius

                                              Source CTS_Code  \
0  Food and Agriculture Organization of the Unite...     ECCS
1  Food and Agriculture Organization of the Unite...     ECCS
2  Food and Agriculture Organization of the Unite...     ECCS
3  Food and Agriculture Organization of the Unite...     ECCS
4  Food and Agriculture Organization of the Unite...     ECCS

                     CTS_Name  \
0  Surface Temperature Change
1  Surface Temperature Change
2  Surface Temperature Change
3  Surface Temperature Change
4  Surface Temperature Change

                                 CTS_Full_Descriptor
0  Environment, Climate Change, Climate Indicator...
1  Environment, Climate Change, Climate Indicator...
2  Environment, Climate Change, Climate Indicator...
3  Environment, Climate Change, Climate Indicator...
4  Environment, Climate Change, Climate Indicator...

In [42]:
not_found_columns = [col for col in to_drop if col not in df.columns]
print("Columns not found in DataFrame:", not_found_columns)

Columns not found in DataFrame: ['F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 'F1970', 'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978', 'F1979', 'F1980', 'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986', 'F1987', 'F1988', 'F1989', 'F1990', 'F1991', 'F1992', 'F1993', 'F1994', 'F1995', 'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022']

In [1]:

import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("C:\Users\HP\OneDrive\Documents\1 Practical\climate_change_indicators.csv")

# Print the index of the DataFrame
print(df.index)

RangeIndex(start=0, stop=225, step=1)

In [2]:
df.loc[206]

ObjectId                                                   207
Country                                                 Tuvalu
ISO2                                                        TV
ISO3                                                       TUV
Indicator    Temperature change with respect to a baseline ...
                                   ...
F2018                                                    0.975
F2019                                                    1.078
F2020                                                    1.195
F2021                                                    0.689
F2022                                                    0.663
Name: 206, Length: 72, dtype: object

In [8]:
# Assuming df is your DataFrame containing the data
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("C:\Users\HP\OneDrive\Documents\1 Practical\climate_change_indicators.csv")

# Set the index to the first column in the DataFrame
df.set_index(df.columns[0], inplace=True)

# Optionally, you can print the DataFrame to verify the changes
print(df.head())

                               Country ISO2 ISO3  \
ObjectId
1         Afghanistan, Islamic Rep. of   AF  AFG
2                              Albania   AL  ALB
3                              Algeria   DZ  DZA
4                       American Samoa   AS  ASM
5             Andorra, Principality of   AD  AND

                                                  Indicator            Unit  \
ObjectId
1         Temperature change with respect to a baseline ...  Degree Celsius
2         Temperature change with respect to a baseline ...  Degree Celsius
3         Temperature change with respect to a baseline ...  Degree Celsius
4         Temperature change with respect to a baseline ...  Degree Celsius
5         Temperature change with respect to a baseline ...  Degree Celsius

                                                     Source CTS_Code  \
ObjectId
1         Food and Agriculture Organization of the Unite...     ECCS
2         Food and Agriculture Organization of the Unite...     ECCS
3         Food and Agriculture Organization of the Unite...     ECCS
4         Food and Agriculture Organization of the Unite...     ECCS
5         Food and Agriculture Organization of the Unite...     ECCS

                            CTS_Name  \
ObjectId
1         Surface Temperature Change
2         Surface Temperature Change
3         Surface Temperature Change
4         Surface Temperature Change
5         Surface Temperature Change

                                        CTS_Full_Descriptor  F1961  ...  \
ObjectId                                                            ...
1         Environment, Climate Change, Climate Indicator... -0.113  ...
2         Environment, Climate Change, Climate Indicator...  0.627  ...
3         Environment, Climate Change, Climate Indicator...  0.164  ...
4         Environment, Climate Change, Climate Indicator...  0.079  ...
5         Environment, Climate Change, Climate Indicator...  0.736  ...

          F2013  F2014  F2015  F2016  F2017  F2018  F2019  F2020  F2021  F2022
ObjectId
1         1.281  0.456  1.093  1.555  1.540  1.544  0.910  0.498  1.327  2.012
2         1.333  1.198  1.569  1.464  1.121  2.028  1.675  1.498  1.536  1.518
3         1.192  1.690  1.121  1.757  1.512  1.210  1.115  1.926  2.330  1.688
4         1.257  1.170  1.009  1.539  1.435  1.189  1.539  1.430  1.268  1.256
5         0.831  1.946  1.690  1.990  1.925  1.919  1.964  2.562  1.533  3.243

[5 rows x 71 columns]

In [12]:
dtype_counts = df.dtypes.value_counts()
print(dtype_counts)

float64    62
object      9
dtype: int64

In [15]:
# Assuming df is your DataFrame containing the data
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\HP\OneDrive\Documents\1 Practical\climate_change_indicators.csv")

# Specify the list of columns you want to retrieve
columns_to_retrieve = ['ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source', 
                       'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 
                       'F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 
                       'F1970', 'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978', 
                       'F1979', 'F1980', 'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986', 'F1987', 
                       'F1988', 'F1989', 'F1990', 'F1991', 'F1992', 'F1993', 'F1994', 'F1995', 'F1996', 
                       'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 
                       'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 
                       'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022']

# Retrieve the specified columns
selected_columns_df = df.loc[:, columns_to_retrieve]

# Display the selected columns
print(selected_columns_df.head())

   ObjectId                       Country ISO2 ISO3  \
0         1  Afghanistan, Islamic Rep. of   AF  AFG
1         2                       Albania   AL  ALB
2         3                       Algeria   DZ  DZA
3         4                American Samoa   AS  ASM
4         5      Andorra, Principality of   AD  AND

                                           Indicator            Unit  \
0  Temperature change with respect to a baseline ...  Degree Celsius
1  Temperature change with respect to a baseline ...  Degree Celsius
2  Temperature change with respect to a baseline ...  Degree Celsius
3  Temperature change with respect to a baseline ...  Degree Celsius
4  Temperature change with respect to a baseline ...  Degree Celsius

                                              Source CTS_Code  \
0  Food and Agriculture Organization of the Unite...     ECCS
1  Food and Agriculture Organization of the Unite...     ECCS
2  Food and Agriculture Organization of the Unite...     ECCS
3  Food and Agriculture Organization of the Unite...     ECCS
4  Food and Agriculture Organization of the Unite...     ECCS

                     CTS_Name  \
0  Surface Temperature Change
1  Surface Temperature Change
2  Surface Temperature Change
3  Surface Temperature Change
4  Surface Temperature Change

                                 CTS_Full_Descriptor  ...  F2013  F2014  \
0  Environment, Climate Change, Climate Indicator...  ...  1.281  0.456
1  Environment, Climate Change, Climate Indicator...  ...  1.333  1.198
2  Environment, Climate Change, Climate Indicator...  ...  1.192  1.690
3  Environment, Climate Change, Climate Indicator...  ...  1.257  1.170
4  Environment, Climate Change, Climate Indicator...  ...  0.831  1.946

   F2015  F2016  F2017  F2018  F2019  F2020  F2021  F2022
0  1.093  1.555  1.540  1.544  0.910  0.498  1.327  2.012
1  1.569  1.464  1.121  2.028  1.675  1.498  1.536  1.518
2  1.121  1.757  1.512  1.210  1.115  1.926  2.330  1.688
3  1.009  1.539  1.435  1.189  1.539  1.430  1.268  1.256
4  1.690  1.990  1.925  1.919  1.964  2.562  1.533  3.243

[5 rows x 72 columns]

In [16]:
import re

# Define the regex pattern
regex_pattern = r'^(\d{4})'

# Test string
test_string = "2024 is the year of the next leap year."

# Search for the pattern in the test string
match = re.search(regex_pattern, test_string)

# Check if a match is found
if match:
    # Print the matched substring
    print("Match found:", match.group(0))
else:
    print("No match found.")

Match found: 2024

In [18]:
# Assuming df is your DataFrame containing the data
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("C:\\Users\\HP\\OneDrive\\Documents\\1 Practical\\climate_change_indicators.csv")


# Extract information from the 'Indicator' column using a regular expression
extr = df['Indicator'].str.extract(r'^(\d{4})', expand=False)

# Display the extracted information
print(extr.head())

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Indicator, dtype: object

In [19]:
# Extract information from the 'Indicator' column using a regular expression
extr = df['Indicator'].str.extract(r'^(\d{4})', expand=False)

df['F1961'] = pd.to_numeric(extr, errors='coerce') 

# Check the data type of the new column
print(df['F1961'].dtype)

float64

In [22]:
df['Country'].head(10)

0    Afghanistan, Islamic Rep. of
1                         Albania
2                         Algeria
3                  American Samoa
4        Andorra, Principality of
5                          Angola
6                        Anguilla
7             Antigua and Barbuda
8                       Argentina
9                Armenia, Rep. of
Name: Country, dtype: object

In [37]:
df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,Date of Publication
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012,NaN
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518,NaN
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688,NaN
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256,NaN
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243,NaN

In [39]:
import pandas as pd

# Define the file path
file_path = r"C:\Users\HP\OneDrive\Documents\1 Practical\climate_change_indicators.csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(df.head())

   ObjectId                       Country ISO2 ISO3  \
0         1  Afghanistan, Islamic Rep. of   AF  AFG
1         2                       Albania   AL  ALB
2         3                       Algeria   DZ  DZA
3         4                American Samoa   AS  ASM
4         5      Andorra, Principality of   AD  AND

                                           Indicator            Unit  \
0  Temperature change with respect to a baseline ...  Degree Celsius
1  Temperature change with respect to a baseline ...  Degree Celsius
2  Temperature change with respect to a baseline ...  Degree Celsius
3  Temperature change with respect to a baseline ...  Degree Celsius
4  Temperature change with respect to a baseline ...  Degree Celsius

                                              Source CTS_Code  \
0  Food and Agriculture Organization of the Unite...     ECCS
1  Food and Agriculture Organization of the Unite...     ECCS
2  Food and Agriculture Organization of the Unite...     ECCS
3  Food and Agriculture Organization of the Unite...     ECCS
4  Food and Agriculture Organization of the Unite...     ECCS

                     CTS_Name  \
0  Surface Temperature Change
1  Surface Temperature Change
2  Surface Temperature Change
3  Surface Temperature Change
4  Surface Temperature Change

                                 CTS_Full_Descriptor  ...  F2013  F2014  \
0  Environment, Climate Change, Climate Indicator...  ...  1.281  0.456
1  Environment, Climate Change, Climate Indicator...  ...  1.333  1.198
2  Environment, Climate Change, Climate Indicator...  ...  1.192  1.690
3  Environment, Climate Change, Climate Indicator...  ...  1.257  1.170
4  Environment, Climate Change, Climate Indicator...  ...  0.831  1.946

   F2015  F2016  F2017  F2018  F2019  F2020  F2021  F2022
0  1.093  1.555  1.540  1.544  0.910  0.498  1.327  2.012
1  1.569  1.464  1.121  2.028  1.675  1.498  1.536  1.518
2  1.121  1.757  1.512  1.210  1.115  1.926  2.330  1.688
3  1.009  1.539  1.435  1.189  1.539  1.430  1.268  1.256
4  1.690  1.990  1.925  1.919  1.964  2.562  1.533  3.243

[5 rows x 72 columns]

In [43]:
import pandas as pd

# Define the file path using raw string literal
file_path = r"C:\Users\HP\OneDrive\Documents\1 Practical\climate_change_indicators.csv"

# Define the column names
column_names = [
    'ObjectId', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source', 
    'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 
    'F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966', 'F1967', 'F1968', 'F1969', 'F1970', 
    'F1971', 'F1972', 'F1973', 'F1974', 'F1975', 'F1976', 'F1977', 'F1978', 'F1979', 'F1980', 
    'F1981', 'F1982', 'F1983', 'F1984', 'F1985', 'F1986', 'F1987', 'F1988', 'F1989', 'F1990', 
    'F1991', 'F1992', 'F1993', 'F1994', 'F1995', 'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 
    'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 
    'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 
    'F2021', 'F2022'
]

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path, names=column_names)

# Display the first few rows of the DataFrame
print(df.head())

   ObjectId                       Country  ISO2  ISO3  \
0  ObjectId                       Country  ISO2  ISO3
1         1  Afghanistan, Islamic Rep. of    AF   AFG
2         2                       Albania    AL   ALB
3         3                       Algeria    DZ   DZA
4         4                American Samoa    AS   ASM

                                           Indicator            Unit  \
0                                          Indicator            Unit
1  Temperature change with respect to a baseline ...  Degree Celsius
2  Temperature change with respect to a baseline ...  Degree Celsius
3  Temperature change with respect to a baseline ...  Degree Celsius
4  Temperature change with respect to a baseline ...  Degree Celsius

                                              Source  CTS_Code  \
0                                             Source  CTS_Code
1  Food and Agriculture Organization of the Unite...      ECCS
2  Food and Agriculture Organization of the Unite...      ECCS
3  Food and Agriculture Organization of the Unite...      ECCS
4  Food and Agriculture Organization of the Unite...      ECCS

                     CTS_Name  \
0                    CTS_Name
1  Surface Temperature Change
2  Surface Temperature Change
3  Surface Temperature Change
4  Surface Temperature Change

                                 CTS_Full_Descriptor  ...  F2013  F2014  \
0                                CTS_Full_Descriptor  ...  F2013  F2014
1  Environment, Climate Change, Climate Indicator...  ...  1.281  0.456
2  Environment, Climate Change, Climate Indicator...  ...  1.333  1.198
3  Environment, Climate Change, Climate Indicator...  ...  1.192   1.69
4  Environment, Climate Change, Climate Indicator...  ...  1.257   1.17

   F2015  F2016  F2017  F2018  F2019  F2020  F2021  F2022
0  F2015  F2016  F2017  F2018  F2019  F2020  F2021  F2022
1  1.093  1.555   1.54  1.544   0.91  0.498  1.327  2.012
2  1.569  1.464  1.121  2.028  1.675  1.498  1.536  1.518
3  1.121  1.757  1.512   1.21  1.115  1.926   2.33  1.688
4  1.009  1.539  1.435  1.189  1.539   1.43  1.268  1.256

[5 rows x 72 columns]

In [45]:
import pandas as pd

# Define the file path
file_path = r"C:\Users\HP\OneDrive\Documents\1 Practical\climate_change_indicators.csv"

# Read the CSV file into a DataFrame
climate_change_indicators_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(climate_change_indicators_df.head())

   ObjectId                       Country ISO2 ISO3  \
0         1  Afghanistan, Islamic Rep. of   AF  AFG
1         2                       Albania   AL  ALB
2         3                       Algeria   DZ  DZA
3         4                American Samoa   AS  ASM
4         5      Andorra, Principality of   AD  AND

                                           Indicator            Unit  \
0  Temperature change with respect to a baseline ...  Degree Celsius
1  Temperature change with respect to a baseline ...  Degree Celsius
2  Temperature change with respect to a baseline ...  Degree Celsius
3  Temperature change with respect to a baseline ...  Degree Celsius
4  Temperature change with respect to a baseline ...  Degree Celsius

                                              Source CTS_Code  \
0  Food and Agriculture Organization of the Unite...     ECCS
1  Food and Agriculture Organization of the Unite...     ECCS
2  Food and Agriculture Organization of the Unite...     ECCS
3  Food and Agriculture Organization of the Unite...     ECCS
4  Food and Agriculture Organization of the Unite...     ECCS

                     CTS_Name  \
0  Surface Temperature Change
1  Surface Temperature Change
2  Surface Temperature Change
3  Surface Temperature Change
4  Surface Temperature Change

                                 CTS_Full_Descriptor  ...  F2013  F2014  \
0  Environment, Climate Change, Climate Indicator...  ...  1.281  0.456
1  Environment, Climate Change, Climate Indicator...  ...  1.333  1.198
2  Environment, Climate Change, Climate Indicator...  ...  1.192  1.690
3  Environment, Climate Change, Climate Indicator...  ...  1.257  1.170
4  Environment, Climate Change, Climate Indicator...  ...  0.831  1.946

   F2015  F2016  F2017  F2018  F2019  F2020  F2021  F2022
0  1.093  1.555  1.540  1.544  0.910  0.498  1.327  2.012
1  1.569  1.464  1.121  2.028  1.675  1.498  1.536  1.518
2  1.121  1.757  1.512  1.210  1.115  1.926  2.330  1.688
3  1.009  1.539  1.435  1.189  1.539  1.430  1.268  1.256
4  1.690  1.990  1.925  1.919  1.964  2.562  1.533  3.243

[5 rows x 72 columns]

In [50]:
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games',
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}

In [52]:
climate_change_indicators_df.rename(columns=new_names, inplace=True)

In [53]:
climate_change_indicators_df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243